<script src="https://use.fontawesome.com/4a0bea6b2c.js"></script>


<div class='form-container'>
  <h1>Just One More Step</h1>
  <form class='form-form' method='post' action='/form'>

    <div class='row'>

      <div class="input-group col-xs-4">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
        <input type="number" class="form-control" placeholder="Credit Score" aria-describedby="basic-addon1">
      </div>

      <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
        <input type="number" class="form-control" placeholder='Income'>
      </div>

    </div>
    
    <div class='row'>

      <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class='glyphicon glyphicon-home'></i></span>
        <input type="number" class="form-control" placeholder='Property Value'>
      </div>

      <div class='property-type-container col-xs-4'>
        <select class='form-control' name='property-type'>
          <option>Property Type</option>
          <option value='CO'>Condo</option>
          <option value='LH'>Leasehold</option>
          <option value='PU'>Planned Unit Development</option>
          <option value='MH'>Manufactured Home</option>
          <option value='SF'>Single Family Home</option>
          <option value='CP'>Cooperative Share</option>
          <option value='  '>Unknown</option>
        </select>
      </div>

    </div>

    <div class='row'>
      
      <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
        <input type="number" class="form-control" placeholder='Loan Value'>
      </div>


      <div class="month-container input-group col-xs-4">
        <div class="input-group col-xs-4">
          <input type="number" class="form-control" placeholder='Months'>
        </div>

        <div class="input-group col-xs-7">
          <input type="number" class="form-control" placeholder='Interest Rate'>
          <span class="input-group-addon">%</span>
        </div>

      </div>
    </div>

    <div class='row'>
      <div class='query-city'>
      </div>
    </div>

    <div class='row-submit'>
      <button class='btn btn-default'>Submit</button>
    <div>

  </form>
</div>
