<style>
.form-container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
}
.form-form {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  /* padding: 1em; */
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.row-submit {
  align-self: flex-end;
}
.row-submit button {
  margin-right: 4em;
}

</style>

<script src="https://use.fontawesome.com/4a0bea6b2c.js"></script>


<div class='form-container'>
  <h1>Just One More Step</h1>
  <form class='form-form' method='post' action='/form'>

    <div class='row'>

      <div class="input-group col-xs-2">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
        <input type="number" class="form-control" placeholder="Credit Score" aria-describedby="basic-addon1">
      </div>

      <div class="input-group col-xs-3">
        <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
        <input type="number" class="form-control" placeholder='Income'>
      </div>

    </div>
    
    <div class='row'>

      <div class="input-group col-xs-3">
        <span class="input-group-addon"><i class='glyphicon glyphicon-home'></i></span>
        <input type="number" class="form-control" placeholder='Property Value'>
      </div>

      <div class='property-type-container col-xs-2'>
        <select class='form-control' name='property-type'>
          <option>Property Type</option>
          <option>Home</option>
          <option>Apartment</option>
        </select>
      </div>

    </div>

    <div class='row'>
      
      <div class="input-group col-xs-2">
        <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
        <input type="number" class="form-control" placeholder='Loan Value'>
      </div>

      <div class='col-xs-3 month-container'>

        <div class="input-group">
          <input type="number" class="form-control" placeholder='MM/YYYY'>
        </div>

        <div class="input-group">
          <input type="number" class="form-control" placeholder='MM/YYYY'>
        </div>

      </div>

    </div>

    <div class='row-submit'>
      <button class='btn btn-default'>Submit</button>
    <div>

  </form>
</div>
