<div class='home-container'>

  <h1>{{text.welcome}}</h1>
  
  <a href='/upload'>
    <div class='home-upload'>
      <span class='glyphicon glyphicon-upload'></span>
      <p>{{text.upload}}</p>
    </div>
  </a>

  <div class='language-container'>
    <select class="select-language form-control">
      <option value='en'>English 🇺🇸</option>
      <option value='es'>Español 🇪🇸</option>
      <option value='zh'>中文 🇨🇳</option>
    </select>
  </div>

</div>

<script>
  $('.select-language').change(function() {
    var lang = $(this).val();
    localStorage.setItem('lang', lang);
    $.ajax({
      url: '/',
      method: 'POST',
      data: {lang: lang},
      success: function(resp) {
        console.log(resp)
        $('h1').text(resp.text.welcome);
        $('p').text(resp.text.upload);
      },
      error: function(err) {
        console.log(err)
      }
    })
  })
</script>
