<div class='upload-container'>
  <h1>Upload Document</h1>
  <div class="padding-container col-xs-9">
    <div class="input-container">
      <input type="file" name="file"/>
    </div>
    <div class='submit-row'>
      <label for="file">Choose a file or drag it here.</label>
      <button class="btn btn-default" type="submit">Submit</button>
    </div>
  </div>
  <div class='third'>
  </div>
</div>

<script>

</script>
