<div class='upload-container'>
  <h1>{{text.h1}}</h1>
  <div class="padding-container col-xs-9">
    <div class="input-container upload-animation">
      <label for="file">{{text.label}}</label>
      <input type="file" name="file" class='powAnimation'/>
    </div>
    <div class='submit-row'>
      <a href='/doc'><button class="collapse btn btn-default" type="submit">{{text.submit}}</button></a>
    </div>
  </div>
  <div class='third'>
    <a href='/'><i></i><button class='btn btn-default glyphicon glyphicon-chevron-left'></button></a>
  </div>
</div>

<script>

  var lang = (this.location.href.split('lang='))[1] || 'en'
  if (lang !== 'en') {
    $('.third a').attr('href', `/?lang=${lang}`);
  }
    
  $('.input-container input').change(function() {
    $('.submit-row button').addClass('submit-animation')
    $('.submit-row button').slideDown(1000);
    $('.input-container').removeClass('upload-animation')
  });

</script>
