<div class='upload-container'>
  <h1>{{text.h1}}</h1>
  <div class="padding-container col-xs-9">
    <div class="input-container">
      <input type="file" name="file"/>
    </div>
    <div class='submit-row'>
      <label for="file">{{text.label}}</label>
      <a href='/doc'><button class="btn btn-default" type="submit">{{text.submit}}</button></a>
    </div>
  </div>
  <div class='third'>
    <a href='/'><button class='btn btn-default glyphicon glyphicon-chevron-left'></button></a>
  </div>
</div>
