/* GLOBAL *//* GLOBAL *//* GLOBAL *//* GLOBAL *//* GLOBAL *//* GLOBAL */
body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; /* "Petit Formal Script" */
  /* border: 1px red solid; */
  height: 100vh;
  color: dodgerblue;
}

/* HOME *//* HOME *//* HOME *//* HOME *//* HOME *//* HOME *//* HOME */
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px blue solid;
  height: 100%;
}
.language-container {
  align-self: flex-end;
  padding: 1em;
}
.select-language {
  height: 3em;
  width: 10em;
}

.home-upload {
  display: flex;
  padding-top: 1em;
  justify-content: center;
  flex-direction: column;
  height: 15em;
  width: 15em;
  text-align: center;
  border: dodgerblue 2px solid;
  border-radius: 1em;
}

.home-upload span {
  font-size: 11em;
}

.home-upload p {
  font-size: 1.5em;
}

/* HOME ANIMATIONS/TRANSITIONS */
.home-container a {
  animation-name: infinite-anchor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-decoration: none;
}
@keyframes infinite-anchor {
  0% {
    color: dodgerblue;
  }
  50% {
    color: skyblue;
  }
  100% {
    color: dodgerblue;
  }
}

/* UPLOAD *//* UPLOAD *//* UPLOAD *//* UPLOAD *//* UPLOAD *//* UPLOAD */
.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.padding-container {
  color: black;
  background-color: skyblue;
  padding: 3.5rem;
  padding-bottom: 4rem;
  height: 60%;
  display: flex;
  flex-direction: column;
}

.input-container {
  background-color: skyblue;
  border: 2px dashed black;
  padding: 1em;
  height: 100%;
  background-image: url("http://bit.ly/2yxfc1f");
  background-size: 27.5%;
  background-repeat: no-repeat;
  background-position: center center;
}

.upload-animation {
  animation-name: infinite-pow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-decoration: none;
}
@keyframes infinite-pow {
  0% {
    background-color: skyblue;
  }
  50% {
    background-color: powderblue;
  }
  100% {
    background-color: skyblue;
  }
}

.btn.btn-default {
  border: 1px solid black
}
.submit-animation {
  animation-name: click-me;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  box-shadow: 5px 5px 5px black;
}
@keyframes click-me {
  0% {
    background-color: #00d374;
  }
  50% {
    background-color: skyblue;
  }
	100% {
    background-color: #00d374;
  }
}

.submit-row {
  margin-top: 0.3em;
  align-self: flex-end;
}

.input-container input {
  height: 100%;
  width: 100%;
  cursor: pointer; cursor: hand;
}

.third {
  margin-bottom: 2em;
}

/* FORM *//* FORM *//* FORM *//* FORM *//* FORM *//* FORM *//* FORM */

.form-container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
}
.form-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  /* padding: 1em; */
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.row-submit {
  align-self: flex-end;
}
.row-submit button {
  margin-right: 4em;
}

.property-type-container {
  padding: 0;
}

.month-container {
  display: flex;
  justify-content: space-between;
}

/* DOC *//* DOC *//* DOC *//* DOC *//* DOC *//* DOC *//* DOC *//* DOC */
.doc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.msg-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding: 3em;
}
.msg-left, .msg-right {
  /* border: 1px solid blue; */
}

.msg-right {
  width: 65%;
  font-style: italic;
  margin-top: 1.5em;
}

.results-container button {
  align-self: flex-end;
}

